{{- $apiHostname := getv "/api/hostname" -}}
{{- $apiPort := getv "/api/port" -}}
{{- $port := getv "/port" -}}

lua_package_path "$prefix/lua/?.lua;;";
lua_code_cache on;

server {
  listen {{ $port }} default_server;
  server_name localhost;

  location / {
    rewrite_by_lua_block { require("dispatcher").go() }

    proxy_pass http://{{ $apiHostname }}:{{ $apiPort }};
  }
}
