{{- $accessControlWhitelist := getvs "/accessControlWhitelist/*" -}}
{{- $blockDuration := getv "/rateLimiting/blockDurationInSeconds" -}}
{{- $clientBodyBufferSize := getv "/nginx/clientBodyBufferSize" -}}
{{- $corsAllowOrigin := getv "/corsAllowOrigin" "" -}}
{{- $factomdUrl := getv "/factomdUrl" -}}
{{- $healthCheckMaxBlockAge := getv "/healthCheck/maxBlockAgeInSeconds" -}}
{{- $healthCheckClockSpreadTolerance := getv "/healthCheck/clockSpreadToleranceInSeconds" -}}
{{- $keepAliveRequests := getv "/nginx/keepAliveRequests" -}}
{{- $keepAliveTimeout := getv "/nginx/keepAliveTimeout" -}}
{{- $listenPort := getv "/listenPort" "" -}}
{{- $maxBurstWritesPerSecond := getv "/rateLimiting/maxBurstWritesPerSecond" -}}
{{- $maxWritesPerBlock := getv "/rateLimiting/maxWritesPerBlock" -}}
{{- $maxWritesPerSecond := getv "/rateLimiting/maxWritesPerSecond" -}}
{{- $name := getv "/name" -}}
{{- $proxyConnectTimeout := getv "/nginx/proxyConnectTimeout" -}}
{{- $requestBuffering := getv "/nginx/requestBuffering" -}}
{{- $responseBuffering := getv "/nginx/responseBuffering" -}}
{{- $sslBufferSize := getv "/ssl/bufferSize" -}}
{{- $sslCertificate := getv "/ssl/certificate" "" -}}
{{- $sslCertificateKey := getv "/ssl/certificateKey" "" -}}
{{- $sslCiphers := getv "/ssl/ciphers" -}}
{{- $sslProtocols := getv "/ssl/protocols" -}}
{{- $sslSessionCacheSize := getv "/ssl/sessionCacheSize" -}}
{{- $sslSessionTimeout := getv "/ssl/sessionTimeout" -}}
{{- $sslTrustedCertificate := getv "/ssl/trustedCertificate" "" -}}
{{- $version := getv "/version" -}}
{{- $writeMethods := getvs "/rateLimiting/writeMethods/*" -}}

{{- $sslEnabled := and (gt (len $sslCertificate) 0) (gt (len $sslCertificateKey) 0) -}}
{{- $defaultPort := or (and $sslEnabled 8443) 8080 -}}
{{- $port := or $listenPort $defaultPort -}}

access_log off;
error_log stderr info;
lua_package_path "$prefix/lua/?.lua;;";
lua_code_cache on;

lua_shared_dict rate_limit_store 1m;

# Forwarded header support
map $remote_addr $proxy_forwarded_elem {
  # IPv4 addresses can be sent as-is
  ~^[0-9.]+$ "for=$remote_addr";

  # IPv6 addresses need to be bracketed and quoted
  ~^[0-9A-Fa-f:.]+$ "for=\"[$remote_addr]\"";

  # Unix domain socket names cannot be represented in RFC 7239 syntax
  default "for=unknown";
}

# Forwarded header support
map $http_forwarded $proxy_add_forwarded {
  # If the incoming Forwarded header is syntactically valid, append to it
  "~^(,[ \\t]*)*([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?(;([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?)*([ \\t]*,([ \\t]*([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?(;([!#$%&'*+.^_`|~0-9A-Za-z-]+=([!#$%&'*+.^_`|~0-9A-Za-z-]+|\"([\\t \\x21\\x23-\\x5B\\x5D-\\x7E\\x80-\\xFF]|\\\\[\\t \\x21-\\x7E\\x80-\\xFF])*\"))?)*)?)*$" "$http_forwarded, $proxy_forwarded_elem";

  # Otherwise, replace it
  default "$proxy_forwarded_elem";
}

init_by_lua_block {
  local config = {
    access_control_whitelist = { {{- range $accessControlWhitelist -}}"{{ . }}",{{- end -}} },
    allow_origin = '{{ replace $corsAllowOrigin "\\" "\\\\" -1 }}',
    block_duration = tonumber({{  $blockDuration }}),
    clock_spread_tolerance = tonumber({{ $healthCheckClockSpreadTolerance }}),
    max_block_age = tonumber({{ $healthCheckMaxBlockAge }}),
    max_burst_writes_per_second = tonumber({{ $maxBurstWritesPerSecond }}),
    max_writes_per_block = tonumber({{ $maxWritesPerBlock }}),
    max_writes_per_second = tonumber({{ $maxWritesPerSecond }}),
    name = '{{ $name }}',
    ssl_enabled = {{ $sslEnabled }},
    version = '{{ $version }}',
    write_methods = { {{- range $writeMethods -}}"{{ . }}",{{- end -}} },
  }

  require("main").init(config)
}

server {
  listen {{ $port }}{{ or (and $sslEnabled " ssl") "" }} default_server;
  server_name localhost;

  # Prevents the request body from being written to a temp file
  client_body_in_single_buffer on;
  client_max_body_size {{ $clientBodyBufferSize }};
  client_body_buffer_size {{ $clientBodyBufferSize }};

  # Prevents issues when running behind load balancers
  keepalive_requests {{ $keepAliveRequests }};
  keepalive_timeout {{ $keepAliveTimeout }};

{{ if $sslEnabled }}
  resolver 1.1.1.1 1.0.0.1 [2606:4700:4700::1111] [2606:4700:4700::1001];
  ssl_buffer_size {{ $sslBufferSize }};
  ssl_certificate /home/app/ssl/certificate.pem;
  ssl_certificate_key /home/app/ssl/certificate_key.pem;
  ssl_ciphers {{ $sslCiphers }};
  ssl_dhparam /home/app/ssl/dhparam.pem;
  ssl_prefer_server_ciphers on;
  ssl_protocols {{ $sslProtocols }};
  ssl_session_cache shared:TLS:{{ $sslSessionCacheSize }};
  ssl_session_tickets off;
  ssl_session_timeout {{ $sslSessionTimeout }};
  ssl_stapling on;
  ssl_stapling_verify on;
{{- if gt (len $sslTrustedCertificate) 0 }}
  ssl_trusted_certificate /home/app/ssl/trusted_certificate.pem;
{{- end -}}
{{ end }}

  location / {
    rewrite_by_lua_block {
      require('main').go()
    }
  }

  location = /factomd {
    internal;

    proxy_buffering {{ if eq $responseBuffering "on" }}on{{ else }}off{{ end }};
    proxy_connect_timeout {{ $proxyConnectTimeout }};
    proxy_request_buffering {{ if eq $requestBuffering "on" }}on{{ else }}off{{ end }};
    proxy_set_header Forwarded $proxy_add_forwarded;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass {{ $factomdUrl }}/v2;
  }
}
