{{- $apiHostname := getv "/api/hostname" -}}
{{- $apiPort := getv "/api/port" -}}
{{- $port := getv "/port" -}}

lua_package_path "$prefix/lua/?.lua;;";
lua_code_cache on;

server {
  listen {{ $port }} default_server;
  server_name localhost;

  location = / {
    if ($request_method = GET) {
      return 200;
    }

    return 400;
  }

  location = /v2 {
    rewrite_by_lua_block { require("dispatcher").main() }

    proxy_pass http://{{ $apiHostname }}:{{ $apiPort }};
  }

  location / {
    return 400;
  }
}
