{{ join (getvs "/accessControlWhitelist/*") "," }}

{{ getv "/corsAllowOrigin" "" }}

{{ join (getvs "/factomdNodes/*") "," }}

{{ getv "/healthCheck/clockSpreadToleranceInSeconds" }}

{{ getv "/healthCheck/maxBlockAgeInSeconds" }}

{{ getv "/listenPort" "" }}

{{ getv "/nginx/clientBodyBufferSize" }}

{{ getv "/nginx/keepAliveRequests" }}

{{ getv "/nginx/keepAliveTimeout" }}

{{ getv "/nginx/proxyBuffering" }}

{{ getv "/nginx/proxyConnectTimeout" }}

{{ getv "/nginx/proxyProtocol" }}

{{ getv "/nginx/proxyRequestBuffering" }}

{{ getv "/ssl/bufferSize" }}

{{ getv "/ssl/certificate" "" }}

{{ getv "/ssl/certificateKey" "" }}

{{ getv "/ssl/ciphers" }}

{{ getv "/ssl/protocols" }}

{{ getv "/ssl/sessionCacheSize" }}

{{ getv "/ssl/sessionTimeout" }}

{{ getv "/ssl/trustedCertificate" "" }}
