{{ join (getvs "/accessControlWhitelist/*") "," }}

{{ getv "/corsAllowOrigin" "" }}

{{ getv "/factomdUrl" }}

{{ getv "/healthCheck/clockSpreadToleranceInSeconds" }}

{{ getv "/healthCheck/maxBlockAgeInSeconds" }}

{{ getv "/listenPort" "" }}

{{ getv "/nginx/clientBodyBufferSize" }}

{{ getv "/nginx/keepAliveRequests" }}

{{ getv "/nginx/keepAliveTimeout" }}

{{ getv "/nginx/proxyBuffering" }}

{{ getv "/nginx/proxyConnectTimeout" }}

{{ getv "/nginx/proxyRequestBuffering" }}

{{ getv "/rateLimiting/blockDurationInSeconds" }}

{{ getv "/rateLimiting/burstWritesPerSecond" }}

{{ getv "/rateLimiting/maxWritesPerBlock" }}

{{ getv "/rateLimiting/maxWritesPerSecond" }}

{{ join (getvs "/rateLimiting/writeMethods/*") "," }}

{{ getv "/ssl/bufferSize" }}

{{ getv "/ssl/certificate" "" }}

{{ getv "/ssl/certificateKey" "" }}

{{ getv "/ssl/ciphers" }}

{{ getv "/ssl/protocols" }}

{{ getv "/ssl/sessionCacheSize" }}

{{ getv "/ssl/sessionTimeout" }}

{{ getv "/ssl/trustedCertificate" "" }}
