{{ join (getvs "/accessControlWhitelist/*") "," }}

{{ getv "/corsAllowOrigin" "" }}

{{ getv "/factomdApiUrl" }}

{{ getv "/factomdControlPanelUrl" }}

{{ getv "/healthCheck/clockSpreadToleranceInSeconds" }}

{{ getv "/healthCheck/maxBlockAgeInSeconds" }}

{{ getv "/listenPort" "" }}

{{ getv "/name" }}

{{ getv "/nginx/clientBodyBufferSize" }}

{{ getv "/nginx/keepAliveRequests" }}

{{ getv "/nginx/keepAliveTimeout" }}

{{ getv "/nginx/responseBuffering" }}

{{ getv "/nginx/proxyConnectTimeout" }}

{{ getv "/nginx/requestBuffering" }}

{{ getv "/rateLimiting/blockDurationInSeconds" }}

{{ getv "/rateLimiting/maxBurstWritesPerSecond" }}

{{ getv "/rateLimiting/maxWritesPerBlock" }}

{{ getv "/rateLimiting/maxWritesPerSecond" }}

{{ join (getvs "/rateLimiting/writeMethods/*") "," }}

{{ getv "/ssl/bufferSize" }}

{{ getv "/ssl/certificate" "" }}

{{ getv "/ssl/certificateKey" "" }}

{{ getv "/ssl/ciphers" }}

{{ getv "/ssl/protocols" }}

{{ getv "/ssl/sessionCacheSize" }}

{{ getv "/ssl/sessionTimeout" }}

{{ getv "/ssl/trustedCertificate" "" }}

{{ getv "/version" }}
